In [1]:
from pyspark import SparkContext

sc=SparkContext(master="local",appName="test1")

df=sc.textFile("students.txt")

df.collect()

['8955Tarun,Male,78:50:45:25',
 '8871Ali,Male,100:100:99:98',
 '8892Rafi,Male,100:91:100:99',
 '8912Uday,Male,100:97:99:98',
 '8910Random,Female,80:40:60:54']

In [ ]:
df_split=df.map(lambda x:x.split(","))
df_split.collect()

[['8955Tarun', 'Male', '78:50:45:25'],
 ['8871Ali', 'Male', '100:100:99:98'],
 ['8892Rafi', 'Male', '100:91:100:99'],
 ['8912Uday', 'Male', '100:97:99:98'],
 ['8910Random', 'Female', '80:40:60:54']]

In [ ]:
df_formatted=df_split.map(lambda x:(x[0][:4],x[0][4:],x[1],*x[2].split(":")))
df_formatted.collect()

[('8955', 'Tarun', 'Male', '78', '50', '45', '25'),
 ('8871', 'Ali', 'Male', '100', '100', '99', '98'),
 ('8892', 'Rafi', 'Male', '100', '91', '100', '99'),
 ('8912', 'Uday', 'Male', '100', '97', '99', '98'),
 ('8910', 'Random', 'Female', '80', '40', '60', '54')]

In [ ]:
# total Marks
total_marks=df_formatted.map(lambda x:(int(x[3])+int(x[4])+int(x[5])+int(x[6]))/4)
total_marks.collect()



Grade=total_marks.map(grade)
Grade.collect()

['C', 'A', 'A', 'A', 'C']

In [25]:
def grade(avg):
    if avg>=80:
        return "A"
    elif avg>=60:
        return "B"
    elif avg>=40:
        return "C"
    else:
        return "F"
df_final=df_formatted.map(lambda x:x+((int(x[3]) + int(x[4]) + int(x[5]) + int(x[6])) ,)).map(lambda x:x+(grade(x[7]/4),))

df_final.collect()

[('8955', 'Tarun', 'Male', '78', '50', '45', '25', 198, 'C'),
 ('8871', 'Ali', 'Male', '100', '100', '99', '98', 397, 'A'),
 ('8892', 'Rafi', 'Male', '100', '91', '100', '99', 390, 'A'),
 ('8912', 'Uday', 'Male', '100', '97', '99', '98', 394, 'A'),
 ('8910', 'Random', 'Female', '80', '40', '60', '54', 234, 'C')]

In [30]:
df_final.filter(lambda x:x[8]=="A" or x[8]=="B").collect()

[('8871', 'Ali', 'Male', '100', '100', '99', '98', 397, 'A'),
 ('8892', 'Rafi', 'Male', '100', '91', '100', '99', 390, 'A'),
 ('8912', 'Uday', 'Male', '100', '97', '99', '98', 394, 'A')]

In [ ]:
header = ("number","name","gender","maths","physics","biology","chemistry","total_marks","grade")

header_rdd=sc.parallelize([header])

res=header_rdd.union(df_final)
# res.collect()
for row in res.collect():
    print(",".join(map(str,row)))

number,name,gender,maths,physics,biology,chemistry,total_marks,grade
8955,Tarun,Male,78,50,45,25,198,C
8871,Ali,Male,100,100,99,98,397,A
8892,Rafi,Male,100,91,100,99,390,A
8912,Uday,Male,100,97,99,98,394,A
8910,Random,Female,80,40,60,54,234,C

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 54770)
Traceback (most recent call last):
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\accumulators.py", line 303, in handle
    poll(accum_updates)
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\accumulators.py", line 272, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\accumulators.py", line 276, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\serializers.py", line 595, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\emada\AppData\Local\Programs\Python\Python311\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------